
.accordion{
  list-style: none;
  padding-left: 0;
  .answer{
    transition: max-height .5s ease-in-out;
    max-height: 0vh;
    box-sizing: border-box;
    overflow: hidden;
    display: block;

    &:not(.show) { max-height: 0vh; }

    >*{
      opacity: 0;
      transition-property: opacity;
      transition-timing-function: ease-in-out;
      transition-duration: .5s;
    }

    &.show{
      max-height: 900vh;
      >*{ opacity: 1;}
    }

    p{
      margin: 1rem 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .question {
    @include flx (space-between);
    align-items: center;
    cursor: pointer;
    font-family: $font-bold;
    color: $secondary;
    font-size: 1.1rem;
    overflow-x: hidden;
    max-width: calc(100% - 32px);
    i.mdi-chevron-down::before{
      transition: transform .25s ease-in-out;
      color: $secondary;
      font-size: 2rem;
    }
    .rotate::before{
      transform: rotate(180deg);
    }
  }

  a.link{
    text-decoration: none;
    color:  $primary;
    transition: ease-in-out opacity .25s;
    &:hover{ opacity: .5;}
  }
}
