.card{
  border-radius: 1rem;
  background-color: $ice;
  padding: 1rem;
  margin: 1rem 0;
  @extend %shadow-sm;
  transition: box-shadow .5s ease-in-out;
  &:hover{
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }
  img{
    border-radius: 100%;
  }
  h2{
    font-family: $font-bold;
    font-weight: normal;
    font-size: 1.1rem;
    margin: 0 0 8px 0;
    ~p{
      margin: 0;
    }

  }
}
