.card{
  border-radius: 1rem;
  background-color: $ice;
  padding: 1rem;
  margin: 1rem 0;
  @extend %shadow-sm;
  img{
    border-radius: 100%;
  }
  h2{
    font-family: $font-bold;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0 0 8px 0;
    ~p{ margin: 0;}

  }
}
